@{
    ViewBag.Title = "About";
}
<h2 class="text-green-s text-center bg-p py-3 m-0">VIBOTANI - THƯƠNG HIỆU MỸ PHẨM THIÊN NHIÊN</h2>
<div id="about-discription">
    <p id="" class="shadow-s text-green-s py-5 px-3 f-22 m-0">
        <strong>
            ViBotani xin chào Quý Khách hàng!
        </strong>
        <br />
        Công ty TNHH ViBotani Việt Nam với sứ mệnh cung cấp những sản phẩm LÀM ĐẸP có nguồn gốc từ thiên nhiên nhằm góp phần làm tăng vẻ đẹp của người tiêu dùng. Sản phẩm của Công ty không ngừng được cải tiến, là sự liên kết - kết hợp kinh nghiệm lâu năm trong ngành hóa mỹ phẩm với những thành tựu khoa học công nghệ và bí quyết làm đẹp từ nhiều quốc gia, như Nhật Bản, Hàn Quốc, Pháp, Úc,… ViBotani là thương hiệu được nhiều người tiêu dùng tin cậy, là sự lựa chọn hàng đầu với 04 dòng sản phẩm tiêu biểu, gồm Trắng da, Đẹp da, Mỹ phẩm và Đặc trị. Các sản phẩm của ViBotani đều có công thức vượt trội, sản xuất theo tiêu chuẩn quốc tế ISO 9001 với 100% bổ sung các tinh chất thiết yếu có nguồn gốc từ thiên nhiên như Đông Trùng Hạ Thảo, Trà Xanh, Hoa Cúc, Mật Ong, Nhân Sâm,..
        <br />
        ViBotani mong được là Bạn đồng hành tin cậy của Quý Khách hàng tại Việt Nam.
    </p>
</div>

<section class="mt-4">
    <h2 class="text-green-s text-center bg-p py-3 m-0">SƠ ĐỒ TỔ CHỨC - KINH DOANH</h2>
    <div class="p-4">
        <img class="img-fluid " src="~/Content/Image/doanh-nghiep/max/so_do_to_chuc.png" />
    </div>
</section>
<div id="about-photo" class="mt-4">
    <h2 class="p-2 bg text-center text-green">THƯ VIỆN ẢNH</h2>
    <div class="p-2">
        <div class="owl-carousel owl-theme about-carousel">
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A5141.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image " src="~/Content/Image/slide/gioi-thieu/max/8U9A5229.jpg" />
                </div>
            </div>
            <!---->
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A5258.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image " src="~/Content/Image/slide/gioi-thieu/max/8U9A5263.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image fix-image" src="~/Content/Image/slide/gioi-thieu/max/8U9A5334.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image fix-image" src="~/Content/Image/slide/gioi-thieu/max/8U9A5380.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image fix-image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9229.jpg" />
                </div>
            </div>
            <!---->
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9239.jpg" />
                </div>
            </div>

            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image fix-image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9354.jpg" />
                </div>
            </div>

            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9373.jpg" />
                </div>
            </div>

            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image fix-image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9496.jpg" />
                </div>
            </div>

            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9546.jpg" />
                </div>
            </div>
            <!---->
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9582.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9646.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9660.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9664 logo.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9666.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9732.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9734logo 2.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9741.jpg" />
                </div>
            </div>
            <div class="item">
                <div class="image-container-1 w-100">
                    <img class="image" src="~/Content/Image/slide/gioi-thieu/max/8U9A9742.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
@* 
    <div class="p-2">
        <div class="owl-carousel owl-theme about-carousel">
            <div class="item">
                <img class="w-100" src="~/Content/Image/Intro/9732.png" />
            </div>
            <div class="item">
                <img class="w-100" src="~/Content/Image/Intro/9735.png" />
            </div>
            <div class="item">
                <img class="w-100" src="~/Content/Image/Intro/9741.png" />
            </div>
            <div class="item">
                <img class="w-100" src="~/Content/Image/Intro/9373.png" />
            </div>
            <div class="item">
                <img class="w-100" src="~/Content/Image/Intro/9354.png" />
            </div>
        </div>
    </div>
*@
@*<section id="photos">
        <img src="~/Content/Image/Intro/9732.png" />
        <img src="~/Content/Image/Intro/9373.png" />
        <img src="~/Content/Image/Intro/9582.png" />
        <img src="~/Content/Image/Intro/9229.png" />
        <img src="~/Content/Image/Intro/9741.png" />
        <img src="~/Content/Image/Intro/9735.png" />
        <img src="~/Content/Image/Intro/9239.png" />
        <img src="~/Content/Image/Intro/9666.png" />
        <img src="~/Content/Image/Intro/9496.png" />
        <img src="~/Content/Image/Intro/9354.png" />
        <img class="w-100" src="~/Content/Image/Intro/9646.png" />
        <img class="w-100" src="~/Content/Image/Intro/9660.png" />
        <img class="w-100" src="~/Content/Image/Intro/9354.png" />
        <img class="w-100" src="~/Content/Image/Intro/9373.png" />
        <img class="w-100" src="~/Content/Image/Intro/9664.png" />
    </section>*@
@section scripts {
    <script>
        $('#about-photo .about-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 2,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false
                }
            }
        })
    </script>
}