
@{
    ViewBag.Title = "Bí kíp dưỡng da trắng hồng tự nhiên của Sao sau 01 tuần";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row m-0 bg-s p-5">
        <div class="col-lg-9 col-md-12 shadow-s bg--s layout__write">

            <h1 class="title my-4">
                Bí kíp dưỡng da trắng hồng tự nhiên của Sao sau 01 tuần
            </h1>

            <p class="description">Da trắng mặc gì cũng xinh là quan niệm làm đẹp của người Á Đông. Vì thế, chị em luôn quan tâm đến phương pháp dưỡng trắng sáng da mà an toàn. Những bí kíp dưỡng da từ Á hậu Trịnh Kim Chi, Vân Trang, Phương Trinh Jolie, Cát Tường, Mai Phương sẽ giúp nhan sắc của bạn trắng khỏe tự nhiên sau hơn 1 tuần</p>

            <p class="subtitle">Á hậu Trịnh Kim Chi: làn da cần “trắng an toàn”</p>
            <p class="normal">Á hậu – Nghệ sỹ Ưu tú Trịnh Kim Chi nổi tiếng với nhan sắc “thách thức thời gian” và “làn da không tuổi” trắng hồng rạng rỡ. Nói về bí quyết làm đẹp, Á hậu Việt Nam năm 1994 chia sẻ: “Ai cũng biết chu kỳ để làn da được tái tạo ít nhất phải đủ 28 ngày, vậy mà chỉ sau một hai lần bôi thuốc da đã trắng nõn chứng tỏ làn da đã bị “ép” phải bong tróc lớp biểu bì và da non bên trong đã bị tổn thương nghiêm trọng... Cái gì cũng vậy, nên “chậm mà chắc”, các bạn có thể làm sáng da từ từ bằng nguyên liệu tự nhiên như Đông Trùng Hạ Thảo (ĐTHT), Trà xanh, …</p>
            <p class="normal">Với Adenosine trong ĐTHT có tác dụng kháng viêm, chống lão hóa và giúp da trắng sáng hơn; nhờ thành phần này, các tế bào khoẻ mạnh và tái tạo nhanh hơn, da trắng sáng, mịn màng hơn bằng cách đào thải các tế bào chứa melanin - thủ phạm gây đen da, nám, tàn nhang... dưới tác hại của môi trường. Hiện nay, nhiều thương hiệu mỹ phẩm quốc tế sử dụng công nghệ cao để chiết xuất Adenosine trong ĐTHT đưa vào sản phẩm. Tại Việt Nam, BiOshi là một trong số ít mỹ phẩm sử dụng nguyên liệu từ ĐTHT theo bí quyết dưỡng trắng da của Nhật Bản nên hoàn toàn có thể an tâm lựa chọn và sử dụng lâu dài”.</p>
            <div class="card col-md-6 col-9 mx-auto px-0 mb-3 image__container">
                <img src="~/Content/Image/tin-tuc/inside/max/15622.jpg" class="w-100" alt="...">

            </div>

            <p class="subtitle">Diễn viên Vân Trang: dùng thử mới tin, chỉ hơn 01 tuần làn da đã khác biệt</p>
            <p class="normal">Nổi tiếng với đôi mắt tròn, làn da trắng và nụ cười tỏa nắng, diễn viên Vân Trang tiết lộ “mặc dù mới sử dụng sản phẩm gần đây nhưng BiOshi đã thực sự mang lại hiệu quả cho làn da căng mọng, trắng khỏe và tràn đầy sức sống. BiOshi chinh phục trái tim phái đẹp ngay từ cái nhìn đầu tiên, từ bao bì dễ thương bắt mắt, cực kì thích hợp làm quà tặng yêu thương, cho đến mùi hương dịu nhẹ tự nhiên, dễ chịu vô cùng, không kén da. Công thức đặc biệt với Adenosine dưỡng da trắng hồng không tì vết có trong ĐTHT đang là “xu hướng lên ngôi”, giúp da trắng hoàn toàn tự nhiên, an toàn, không hề bị bào mòn hay bắt nắng”. Sau khi sử dụng BiOshi, Vân Trang hoàn toàn tự tin khoe làn da mộc khi ra đường với gia đình.</p>
            <div class="card col-md-6 col-9 mx-auto px-0 mb-3 image__container">
                <img src="~/Content/Image/tin-tuc/inside/max/8U9A5312.jpg" class="w-100" alt="...">
            </div>

            <p class="subtitle">Ca sĩ – Diễn viên Phương Trinh Jolie: nên sử dụng trọn bộ chăm sóc da của 01 thương hiệu tin cậy, làm đẹp từ sâu bên trong</p>
            <p class="normal">Nổi tiếng xinh đẹp, nóng bỏng, ít ai ngờ Ca sĩ – Diễn viên Phương Trinh Jolie cực kì trung thành với bộ sản phẩm chăm sóc da trắng đẹp “Sữa rửa mặt – Serum – Kem dưỡng trắng da mặt và toàn thân” BiOshi Đông Trùng Hạ Thảo. Với thương hiệu BiOshi uy tín được phái đẹp yêu thích, thích hợp với mọi làn da, đặc biệt là sử dụng trọn bộ sẽ giúp các bạn nhận được hiệu quả tối ưu, tránh sử dụng nhiều thương hiệu mỹ phẩm vào quy trình chăm sóc da, dùng quá nhiều thành phần cùng một lúc sẽ không tốt cho làn da. Cô đặc biệt chú ý đến việc sử dụng BiOshi mỗi ngày để giúp làm chậm quá trình oxy hóa, tái tạo làn da căng mịn, đầy sức sống, giúp giảm nếp nhăn trên da, giảm nám, sạm da hiệu quả. </p>
            <div class="card col-md-6 col-9 mx-auto px-0 mb-3 image__container">
                <img src="~/Content/Image/tin-tuc/inside/max/8U9A9229.jpg" class="w-100" alt="...">
            </div>

            <p class="subtitle">Diễn viên – MC Cát Tường: da đẹp bằng cách làm sạch da và bảo vệ da đúng cách</p>
            <p class="normal">Diễn viên – MC Cát Tường có phương pháp chăm sóc da cực kì hữu ích. Cô cho biết để có làn da trắng sáng cần làm sạch da và bảo vệ đúng cách bởi mỹ phẩm phù hợp. Bí kíp là chọn sữa rửa mặt thích hợp với mọi loại da, kháng viêm, không kích ứng, mùi hương nhẹ, không bào mòn da; không chỉ rửa mặt khi đi ngoài đường để sạch bụi mà còn phải rửa mặt sau một đêm, làm sạch những độc tố mà da đào thải ra. Cô cực kì yêu thích Sữa rửa mặt BiOshi Đông Trùng Hạ Thảo vì giúp “da trắng thật, không trắng ảo, không tẩy da”. Đặc biệt, Cô chia sẻ quy trình chăm sóc da trắng sáng cần dùng Serum cung cấp độ ẩm, tái tạo da cũng như làm chất dẫn, thẩm thấu nhanh kem dưỡng BiOshi Đông Trùng Hạ Thảo giúp da trắng sâu từ bên trong.</p>
            <div class="card  col-9 mx-auto px-0 mb-3 image__container">
                <img src="~/Content/Image/tin-tuc/inside/max/1562.jpg" class="w-100" alt="...">
            </div>

            <p class="subtitle">Diễn viên Mai Phương: lắng nghe tiếng nói của làn da</p>
            <p class="normal">Diễn viên Mai Phương chia sẻ để chăm sóc da trắng hồng hiệu quả, trước hết cần lắng nghe tiếng nói của làn da, tìm hiểu thật kỹ thành phần, nguyên liệu của sản phẩm có an toàn với da không, đặc biệt là đối với da nhạy cảm. Cô cực kì yêu thích xu hướng làm đẹp tự nhiên của phụ nữ Nhật. Sau nhiều trải nghiệm, Diễn viên đã tin tưởng vào BiOshi vì dùng ĐTHT kết hợp công nghệ làm đẹp từ các nước tiên tiến. </p>
            <div class="card  col-9 mx-auto px-2 mb-3 image__container" style="background:#F7D8E3;">
                <img src="~/Content/Image/tin-tuc/inside/max/8U9A9734logo 2.jpg" class="w-100 p-3" alt="...">
                <p>Bộ BiOshi Đông Trùng Hạ Thảo gồm Kem mặt, Sữa rửa mặt, Serum mặt, Kem “body” và sữa tắm; ngoài ra, còn có dòng dưỡng trắng da Trà xanh phù hợp với bạn trẻ, năng động, thích dưỡng trắng từ nguyên liệu có trong thiên nhiên. Sản phẩm không có corticoid.</p>
            </div>                 

            <p class="subtitle text-right mt-3" style="clear:both">
                Khám phá (theo www.eva.vn)
            </p>

        </div>
        <div class="col-lg-3 col-md-12">
            <div class="row m-0">
                <div class="col-sm-12 col-md-6 col-lg-12">

                    <h3 class="text-green-s px-2">Gắn kết cộng đồng</h3>
                    <a href="/home/postDaotaonhansu">
                        <img class="w-100" src="~/Content/Image/blog-l8.png" />
                    </a>
                    <a href="/home/postDaotaonhansu">
                        <h5 class="text-green-s"><b>ViBotani luôn quan tâm đào tạo phát triển nhân sự</b></h5>
                    </a>

                    <p class="text-green">Tại ViBotani, công tác đào tạo nhân sự rất được chú trọng. Chúng tôi cho rằng sự thành công của ViBotani Việt Nam gắn liền với công tác đào tạo nhân sự. Do đó, chúng tôi hướng đến thành lập Học viện Sắc đẹp ViBotani (ViBotani Beauty Academy) để không ngừng nâng cao chất lượng đội ngũ nhân viên – cộng tác viên.</p>
                    <small class="pb-4">
                        <i class="fa fa-clock"></i> 30, January, 2019
                    </small>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-12">

                    <h5 class="text-green-s">
                        <b>
                            ViBotani luôn gắn kết sự phát triển với Cộng đồng tại Việt Nam
                        </b>
                    </h5>
                    <p class="text-green">Gắn kết với cộng đồng cũng là phương châm hoạt động của ViBotani Việt Nam, chúng tôi sẽ không ngừng tham gia các hoạt động phát triển cộng đồng để phần nào chia sẻ với một số hoàn cảnh khó khăn. Chúng tôi cho rằng những hoạt động này không chỉ là sự cảm thông, chia sẻ mà còn là trách nhiệm của chúng tôi trong quá trình phát triển kinh doanh tại Việt Nam.</p>
                    <small class="pb-4">
                        <i class="fa fa-clock"></i> 30, January, 2019
                    </small>
                </div>
            </div>
        </div>
    </div>
