
@{
    ViewBag.Title = "Công thức dưỡng trắng da với thành phần từ đông trùng hạ thảo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-0 bg-s p-5">
    <div class="col-lg-9 col-md-12 shadow-s bg--s layout__write">
        @*<p class="time my-2">Thứ năm, 21/3/2019, 20:00 (GMT+7)</p>*@
        <h1 class="title my-4">
            Công thức dưỡng trắng da với thành phần từ đông trùng hạ thảo
        </h1>
        <p class="description">Thành phần Adenosine trong đông trùng hạ thảo có tác dụng nuôi dưỡng và giúp làn da thêm trắng mịn.</p>
        <p class="normal">Là một loại biệt dược quý hiếm trong Đông y, ngoài khả năng chữa bệnh và chứa hàng trăm dưỡng chất cần thiết cho sức khoẻ, đông trùng hạ thảo có thể cải thiện làn da cho người dùng.</p>
        <p class=" subtitle">Món quà tinh túy từ thiên nhiên</p>
        <p class="normal">
            Đông trùng hạ thảo là sự kết hợp thú vị của côn trùng và loài nấm Cordyceps Sinensis. Khi mùa đông đến, loài sâu non này ngủ trong đất bị nấm ký sinh, hút chất dinh dưỡng từ sâu. Đến mùa hè, sâu non chết đi vì bị hút hết các chất dinh dưỡng thì cây nấm đã khoẻ mạnh, mọc ra khỏi thân sâu, trở thành một loại thực vật quý với nhiều dưỡng chất.
        </p>
        <p class="normal">
            Sự kết tinh giữa động vật và thực vật, cũng như sự tôi luyện, trải qua thời tiết khắc nghiệt khiến đông trùng hạ thảo trở thành loại dược liệu quý hiếm. Trong tự nhiên, đông trùng hạ thảo được tìm thấy nhiều ở các vùng núi, cao nguyên với độ cao từ 4.000 - 6.500m so với mặt nước biển và hầu hết là ở các dãy núi ở Bhutan, Nepal, vùng Tây Tạng... Đây là các cao nguyên có khí hậu đặc thù, khắc nghiệt nhưng lại là môi trường lý tưởng để đông trùng hạ thảo sinh trưởng và phát triển.
        </p>
        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/Anh-dong-trung-ha-thao-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">Đông trùng hạ thảo là một loại biệt dược quý hiếm trong Đông y.</small></p>
            </div>
        </div>

        <p class="normal">Không chỉ tốt cho sức khỏe, đông trùng hạ thảo còn có nhiều công dụng về dưỡng da và giúp da trắng sáng nhờ thành phần Adenosine. Một số nghiên cứu cho thấy, Adenosine có tác dụng kháng viêm, chống lão hóa và giúp da trắng sáng hơn. Nhờ có Adenosine, các tế bào của da sẽ khoẻ mạnh và tái tạo nhanh hơn, da cũng sẽ trắng sáng, mịn màng hơn bằng cách đào thải các tế bào chứa melanin - thủ phạm gây nên hiện tượng đen da, nám, tàn nhang... dưới tác hại của môi trường xung quanh.</p>
        <p class="normal">Theo nghiên cứu đăng trên Tạp chí Khoa học Mỹ phẩm Quốc tế, Adenosine được chứng minh có khả năng làm giảm các nếp nhăn xuất hiện xung quanh mắt và các nếp nhăn ở giữa ấn đường. Cụ thể, có 126 nữ tình nguyện từ 45-65 tuổi đã tham gia thử nghiệm. Mỗi người được gửi hai trong ba sản phẩm bao gồm: kem chứa Adenosine, màng hòa tan chứa Adenosine và một loại giả dược, để sử dụng hai lần mỗi ngày cho các vùng có vết nhăn ở mỗi bên mặt trong suốt 2 tháng. Kết quả cho thấy hai sản phẩm có chứa Adenosine giúp các vùng da quanh mắt trở nên mịn màng hơn. Kem có chứa Adonesine cũng cải thiện đáng kể các vết nhăn giữa ấn đường. Nghiên cứu còn cho thấy tác dụng của Adenosine đối với dấu chân chim và những nếp nhăn khác trên mặt.</p>

        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/dong-trung-ha-thao-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">Nhiều bài thuốc sử dụng đông trùng hạ thảo để bồi dưỡng cơ thể và cải thiện sắc đẹp.</small></p>
            </div>
        </div>
        <p class="normal">Hiện nay, để ứng dụng và đưa hàm lượng dưỡng chất Adenosine có trong đông trùng hạ thảo, nhiều thương hiệu mỹ phẩm quốc tế đã sử dụng công nghệ cao để chiết xuất Adenosine. Tại Việt Nam, BiOshi là một trong số ít các thương hiệu mỹ phẩm sử dụng nguyên liệu từ đông trùng hạ thảo kết hợp công nghệ làm đẹp từ các quốc gia Nhật, Hàn, Pháp, Australia...</p>

        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/8U9A9660.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">BiOshi ứng dụng thành công thành phần Adenosine có trong đông trùng hạ thảo để sản xuất mỹ phẩm.</small></p>
            </div>
        </div>
        
        <p class="normal">Các sản phẩm của BiOshi sản xuất theo công thức riêng, giúp các dưỡng chất Adenosine có trong đông trùng hạ thảo hoạt động tốt, từ đó kích thích tế bào tự sản xuất các sợi ellastin và collagen giúp cải thiện làn da da, chống lão hóa. BiOshi đang phát triển các dòng như trắng da mặt, trắng da toàn thân và trắng cấp tốc thông qua hệ thống sản phẩm đa dạng từ sữa rửa mặt, serum, đến sữa tắm, kem dưỡng trắng da... </p>
      
        <p class="subtitle text-right"> Mai Anh (vnexpress.net)</p>

    </div>
    <div class="col-lg-3 col-md-12">
        <div class="row m-0">
            <div class="col-sm-12 col-md-6 col-lg-12">

                <h3 class="text-green-s px-2">Gắn kết cộng đồng</h3>
                <a href="/home/postDaotaonhansu">
                    <img class="w-100" src="~/Content/Image/blog-l8.png" />
                </a>
                <a href="/home/postDaotaonhansu">
                    <h5 class="text-green-s"><b>ViBotani luôn quan tâm đào tạo phát triển nhân sự</b></h5>
                </a>

                <p class="text-green">Tại ViBotani, công tác đào tạo nhân sự rất được chú trọng. Chúng tôi cho rằng sự thành công của ViBotani Việt Nam gắn liền với công tác đào tạo nhân sự. Do đó, chúng tôi hướng đến thành lập Học viện Sắc đẹp ViBotani (ViBotani Beauty Academy) để không ngừng nâng cao chất lượng đội ngũ nhân viên – cộng tác viên.</p>
                <small class="pb-4">
                    <i class="fa fa-clock"></i> 30, January, 2019
                </small>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-12">

                <h5 class="text-green-s">
                    <b>
                        ViBotani luôn gắn kết sự phát triển với Cộng đồng tại Việt Nam
                    </b>
                </h5>
                <p class="text-green">Gắn kết với cộng đồng cũng là phương châm hoạt động của ViBotani Việt Nam, chúng tôi sẽ không ngừng tham gia các hoạt động phát triển cộng đồng để phần nào chia sẻ với một số hoàn cảnh khó khăn. Chúng tôi cho rằng những hoạt động này không chỉ là sự cảm thông, chia sẻ mà còn là trách nhiệm của chúng tôi trong quá trình phát triển kinh doanh tại Việt Nam.</p>
                <small class="pb-4">
                    <i class="fa fa-clock"></i> 30, January, 2019
                </small>
            </div>
        </div>
    </div>
</div>
