
@{
    ViewBag.Title = "Khám phá quyền năng làm trắng da từ trà xanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row m-0 bg-s p-5">
    <div class="col-lg-9 col-md-12 shadow-s bg--s layout__write">
       
        <h1 class="title my-4">
            Khám phá quyền năng làm trắng da từ trà xanh
        </h1>
        <p class="description">Các nhà khoa học đã chứng minh EGCG, Polyphenol, Tocopherols, Carotenoid, vitamin E... trong trà xanh chứa nhiều chất chống oxy hóa có lợi, giúp da tăng độ đàn hồi, tươi trẻ, trắng mịn hơn. </p>

        <p class="normal">Những năm gần đây, xu hướng làm đẹp và chăm sóc da với các sản phẩm chiết xuất từ thiên nhiên ngày càng được phái đẹp săn đón. Nhiều chị em tận dụng các nguyên liệu làm đẹp từ thiên nhiên, lành tính để hạn chế làm tổn thương da, trong đó, nổi bật là trà xanh.</p>

        <p class="normal">
            Có rất nhiều nghiên cứu khoa học cho thấy trà xanh chứa EGCG - Epigallocatechin Gallate chống ôxy hóa cùng một số chất khác góp phần giảm cholesterol, chống ung thư, bệnh tim, tiểu đường, bệnh nướu răng và nhiễm trùng. Một nghiên cứu kéo dài 11 năm trên 40.000 người ở Nhật đã công bố trên Tạp chí khoa học của Hiệp hội Y khoa Mỹ cho thấy sự khác biệt đáng kể về sức khỏe và tuổi thọ của những người uống ít hơn một tách trà xanh so với uống nhiều hơn 5 cốc mỗi ngày. Cụ thể, những người uống trà xanh nhiều hơn thì khả năng tử vong vì bệnh tim thấp hay đột quỵ thấp hơn.
        </p>
        <p class="normal">
            Theo một báo cáo được công bố trên báo chí của JBC (Journal of Biological Chemistry), một nhóm các chuyên gia nghiên cứu đến từ Đại học Lancasters, Đại học Leeds, Trung tâm Sinh học Phân tử Cấu trúc và Trường Sinh học Phân tử & Tế bào tại vương quốc Anh, cũng cho biết, những đặc tính của EGCG mang lại rất nhiều lợi ích trị liệu tiềm năng, thậm chí các thử nghiệm lâm sàng về EGCG trong việc điều trị bệnh Alzheimer cũng đã được hoàn thành và đưa vào hoạt động.
        </p>
        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/0628_hinh_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">Trà xanh vừa tốt cho sức khỏe, vừa là giải pháp làm trắng da lành tính, được trồng và sử dụng nhiều ở Nhật Bản</small></p>
            </div>
        </div>

        <p class="normal">Trà xanh cũng nổi tiếng tại nhiều quốc gia, trong đó có Nhật Bản. Người dân ở đây vừa sử dụng trà xanh làm thực phẩm, vừa kết hợp chúng như một phương thức làm đẹp trong chu trình chăm sóc da hàng ngày. Đó cũng là một trong những lý do khiến phụ nữ Nhật Bản sở hữu làn da không tuổi, trắng mịn, trẻ trung.</p>
        <p class="normal">
            Ngoài EGCG, trong trà xanh còn chứa nhiều chất chống ôxy hóa mạnh như Polyphenol, Tocopherols, Carotenoid có lợi, giúp da tươi trẻ, trắng sáng mịn màng. Các chuyên gia còn cho biết, trà xanh bổ sung lượng vitamin C và vitamin E tốt cho việc nuôi dưỡng da trắng sáng, tăng cường độ đàn hồi và tươi trẻ. Hơn nữa, dưỡng chất Catechins có trong trà xanh còn có khả năng chống lại tác động xấu của tia UV, triệt tiêu các yếu tố gây độc hại cho da.
        </p>

        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/0628_Hinh_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">Phụ nữ Việt sử dụng trà xanh như một phương pháp làm đẹp thủ công đơn giản và tiết kiệm</small></p>
            </div>
        </div>

        <p class="normal">Tại Việt Nam, trà xanh được nhiều chị em dùng để làm đẹp với các phương pháp thủ công như đun nước trà để rửa mặt, mát-xa mỗi ngày hoặc lấy bột trà xanh đắp mặt. Tuy nhiên, những cách làm này lại không tận dụng được hết các dưỡng chất có trong lá trà.</p>
        <p class="normal">Điều này tạo điều kiện để nhiều hãng mỹ phẩm tung ra sản phẩm làm đẹp từ trà xanh với những công thức và công nghệ hiện đại nhằm chuyển hoá tốt các dưỡng chất từ lá trà.</p>
        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/8U9A9542.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">Mỹ phẩm trắng da BiOshi với Bí quyết từ Nhật Bản chứa nguyên liệu trà xanh ngoại nhập</small></p>
            </div>
        </div>
        <p class="normal">Được biết, mỹ phẩm trắng da BiOshi là thương hiệu cao cấp được điều chế theo bí quyết của Nhật Bản với 100% nguyên liệu ngoại nhập. Tất cả các dòng sản phẩm của BiOshi từ kem trắng da, serum trắng da, sữa rửa mặt, sữa tắm và các dòng chuyên biệt khác đều được bổ sung các dưỡng chất thiết yếu từ thiên nhiên, trong đó có tinh chất Trà xanh. Không chỉ thế, BiOshi còn khẳng định chất lượng thông qua tiêu chuẩn quốc tế ISO 9001 với thông điệp mang lại vẻ đẹp tự nhiên, góp phần làm rạng rỡ vẻ đẹp Việt.</p>
        <p class="normal">Có thể thấy, trong dòng chảy của những thương hiệu trắng da từ khắp mọi nơi đổ về, sẽ rất khó cho người tiêu dùng có thể chọn ra cho mình một sản phẩm tốt, phù hợp nhất với làn da và nhu cầu làm đẹp của bản thân. Nhưng với những ưu điểm của mình, biết đâu trong danh sách những sản phẩm làm đẹp da của bạn trong tương lai sẽ có cái tên BiOshi, một thương hiệu mỹ phẩm thiên nhiên với chất lượng Nhật Bản.</p>


        <p class="subtitle text-right">
            Sao Băng (congthuong.vn)
        </p>

    </div>
    <div class="col-lg-3 col-md-12">
        <div class="row m-0">
            <div class="col-sm-12 col-md-6 col-lg-12">

                <h3 class="text-green-s px-2">Gắn kết cộng đồng</h3>
                <a href="/home/postDaotaonhansu">
                    <img class="w-100" src="~/Content/Image/blog-l8.png" />
                </a>
                <a href="/home/postDaotaonhansu">
                    <h5 class="text-green-s"><b>ViBotani luôn quan tâm đào tạo phát triển nhân sự</b></h5>
                </a>

                <p class="text-green">Tại ViBotani, công tác đào tạo nhân sự rất được chú trọng. Chúng tôi cho rằng sự thành công của ViBotani Việt Nam gắn liền với công tác đào tạo nhân sự. Do đó, chúng tôi hướng đến thành lập Học viện Sắc đẹp ViBotani (ViBotani Beauty Academy) để không ngừng nâng cao chất lượng đội ngũ nhân viên – cộng tác viên.</p>
                <small class="pb-4">
                    <i class="fa fa-clock"></i> 30, January, 2019
                </small>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-12">

                <h5 class="text-green-s">
                    <b>
                        ViBotani luôn gắn kết sự phát triển với Cộng đồng tại Việt Nam
                    </b>
                </h5>
                <p class="text-green">Gắn kết với cộng đồng cũng là phương châm hoạt động của ViBotani Việt Nam, chúng tôi sẽ không ngừng tham gia các hoạt động phát triển cộng đồng để phần nào chia sẻ với một số hoàn cảnh khó khăn. Chúng tôi cho rằng những hoạt động này không chỉ là sự cảm thông, chia sẻ mà còn là trách nhiệm của chúng tôi trong quá trình phát triển kinh doanh tại Việt Nam.</p>
                <small class="pb-4">
                    <i class="fa fa-clock"></i> 30, January, 2019
                </small>
            </div>
        </div>
    </div>
</div>