
@{
    ViewBag.Title = "Skin_Advisory_Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Post = ViewBag.Post;
}


                <div class=" m-0 bg-s">
                    <div class="col-md-11 col-sm-12 px-3 pb-3 mx-auto text-green">
                        <h2 class="text-center title" style="text-transform: uppercase;">
                            @Html.Raw(Post.Name)
                        </h2>
                        @Html.Raw(Post.Detail)
                    </div>
                </div>
           

