
@{
    ViewBag.Title = "Thực hư chuyện làm đẹp từ đông trùng hạ thảo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-0 bg-s p-5">
    <div class="col-lg-9 col-md-12 shadow-s bg--s layout__write">

        <h1 class="title my-4">
            Thực hư chuyện làm đẹp từ đông trùng hạ thảo
        </h1>
        <p class="description">Đông Trùng Hạ Thảo vốn nổi tiếng là một loại biệt dược quý hiếm trong Đông y. Ngoài khả năng chữa bệnh và chứa hàng trăm dưỡng chất cần thiết cho sức khoẻ, liệu loài đông dược quý này có thể giúp cải thiện và mang lại làn da trắng khoẻ, mịn màng?</p>

        <p class="subtitle">Sự kết tinh kỳ diệu giữa động vật và thực vật</p>
        <p class="normal">Xưa nay Đông Trùng Hạ Thảo không chỉ được biết đến như một vị thuốc đặc biệt quý hiếm, mà còn bởi cái tên đầy bí ẩn của mình. Đó là sự kết hợp thú vị của côn trùng và loài nấm Cordyceps Sinensis. Khi mùa đông đến, loài sâu non này ngủ trong đất bị nấm ký sinh, hút chất dinh dưỡng từ sâu. Đến mùa hè, sâu non chết đi vì bị hút hết các chất dinh dưỡng thì cây nấm đã khoẻ mạnh, mọc ra khỏi thân sâu, trở thành một loại thực vật quý với nhiều dưỡng chất.</p>
        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/Anh-dong-trung-ha-thao-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">Đông trùng hạ thảo được xem như “vàng mềm” bởi sự quý hiếm và độc đáo</small></p>
            </div>
        </div>
        <p class="normal">
            Chính sự kết tinh kỳ diệu giữa động vật và thực vật, cũng như sự tôi luyện, trải qua thời tiết khắc nghiệt đã khiến Đông Trùng Hạ Thảo trở thành một loại dược liệu quý hiếm đến như vậy. Trong tự nhiên, Đông Trùng Hạ Thảo được tìm thấy nhiều ở các vùng núi, cao nguyên với độ cao từ 4.000 - 6.500m so với mặt nước biển và hầu hết là ở các dãy núi ở Bhutan, Nepal, vùng Tây Tạng,… Đây là các cao nguyên có khí hậu đặc thù, khắc nghiệt nhưng lại là môi trường lý tưởng để Đông Trùng Hạ Thảo sinh trưởng và phát triển. <a href="https://www.academia.edu/20332538/Healing_Mushrooms_by_Georges_Halpern">(Halpern, 2007))</a>
        </p>
        <p class="subtitle">Biệt dược trong trẻ hóa làn da</p>
        <p class="normal">
            Tốt cho sức khoẻ là thế, nhưng Đông Trùng Hạ Thảo còn gây ngạc nhiên hơn khi “lấn sân” sang lãnh địa của thế giới mỹ phẩm, với nhiều công dụng bất ngờ, đặc biệt là dưỡng da và giúp da trắng sáng. Bí quyết đó nằm ở thành phần Adenosine có trong loài “biệt dược” này.
        </p>
        <div class="card w-100 my-3 image__container">
            <img src="~/Content/Image/tin-tuc/inside/max/dong-trung-ha-thao-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center"><small class="text-muted">Nhiều nghiên cứu chỉ ra được lợi ích của Adenosine, một loại dưỡng chất cũng có trong đông trùng hạ thảo</small></p>
            </div>
        </div>

        <p class="normal">Có nhiều nhận định và nghiên cứu đã nêu ra rằng, Adenosine có những thành phần thân thiện, mang lại nhiều lợi ích cho da, nhất là công dụng kháng viêm, kháng lại kích ứng, chống lão hoá và giúp da trắng sáng hơn. Nhờ có Adenosine, các tế bào của da sẽ khoẻ mạnh và tái tạo tế bào da nhanh hơn, da cũng sẽ trắng sáng, mịn màng hơn trông thấy bằng cách đào thải các tế bào chứa melanin – thủ phạm gây nên hiện tượng đen da, nám, tàn nhang,… dưới tác hại của môi trường xung quanh.</p>
        <p class="normal">
            Theo một nghiên cứu đánh giá hiệu quả chống lại nếp nhăn của Adenosine bằng kỹ thuật FOITS đăng trên Tạp chí Khoa học Mỹ phẩm Quốc tế, Adenosine được chứng minh có khả năng làm giảm các nếp nhăn xuất hiện xung quanh mắt và các nếp nhăn ở giữa ấn đường. Đã có 126 nữ tình nguyện từ 45 đến 65 tuổi đã tham gia thử nghiệm, mỗi người được gửi hai trong ba sản phẩm bao gồm: kem chứa Adenosine, màng hoà tan chứa Adenosine và một loại giả dược, để được sử dụng cho các vùng có vết nhăn ở mỗi bên mặt. Các sản phẩm này đã được sử dụng đều đặn 2 lần/ ngày trong suốt 2 tháng, kết quả cho thấy hai sản phẩm có chứa Adenosine đều mang lại kết quả tốt giúp các vùng da quanh mắt trở nên mịn màng hơn. Kem có chứa Adonesine cũng cải thiện đáng kể các vết nhăn giữa ấn đường, đồng thời nghiên cứu còn cho thấy tác dụng tiềm năng của Adenosine đối với dấu chân chim và những nếp nhăn khác trên mặt. <a href="https://sci-hub.tw/10.1111/j.1467-2494.2006.00349.x?fbclid=IwAR3awJMt0yJmE88RzWyA8nGz0r9VxTUaFdhNu1bFStT3Imsg1tLT01bHZ5k">(Abella, 2006)</a>
        </p>

        <p class="normal">Tuy nhiên, Đông Trùng Hạ Thảo vốn được xem là loại “vàng mềm” với giá cả đắt đỏ, không phải là nguyên liệu phổ thông có thể được sử dụng đại trà. Vì thế, để có thể ứng dụng và đưa hàm lượng dưỡng chất Adenosine có trong Đông Trùng Hạ Thảo, nhiều thương hiệu mỹ phẩm quốc tế đã phải sử dụng công nghệ cao để chiết xuất Adenosine và sản xuất ra các dòng mỹ phẩm có công dụng vượt bậc. Nhiều thương hiệu nổi tiếng hàng đầu đã từng đưa Adenosine vào các dòng sản phẩm của mình và rất thành công.</p>
        <div class="clearfix p-2" style="background:#d9e6f0;">
            
            <p class="normal">Tại thị trường Việt Nam, không nhiều mỹ phẩm sử dụng nguyên liệu từ Đông Trùng Hạ Thảo bởi tính phức tạp, đòi hỏi công nghệ cao của nó. Không phải là thương hiệu tiên phong trong việc đưa hoạt chất Adenosine vào mỹ phẩm, nhưng Mỹ phẩm Trắng da BiOshi đang là cái tên gây chú ý khi ra mắt dòng sản phẩm làm trắng da có sử dụng Đông Trùng Hạ Thảo. Sử dụng bí quyết làm đẹp từ các quốc gia Nhật, Hàn, Pháp, Úc,… với toàn bộ nguyên liệu đều là nhập ngoại, BiOshi đang từng bước khẳng định vị trí “ngôi sao mới” trong lĩnh vực làm đẹp.</p>
            
            <div class="card  col-md-4  float-left mb-3 px-0 mr-2 image__container">
                <img src="~/Content/Image/tin-tuc/inside/max/8U9A9664 logo.jpg" class="w-100" alt="...">
                <div class="card-body">
                    <p class="card-text text-center"><small class="text-muted">Nhiều thương hiệu sử dụng Adenosine làm nguyên liệu, trong đó có Mỹ phẩm Trắng da BiOshi</small></p>
                </div>
            </div>
            <p class="normal">Hơn thế nữa, các sản phẩm của BiOshi đều được sản xuất theo công thức đặc biệt, giúp dưỡng chất Adenosine có trong Đông Trùng Hạ Thảohoạt động một cách tốt nhất, từ đó kích thích tế bào tự sản xuất các sợi Ellastin và Collagen giúp cải thiện da, chống lão hoá, mang lại làn da trắng hồng, mịn màng cho phụ nữ Việt.</p>
            <p class="normal">BiOshi đã và đang phát triển các dòng sản phẩm chính từ trắng da mặt, trắng da toàn thân và trắng cấp tốc thông qua hệ thống sản phẩm đa dạng từ sữa rửa mặt, serum, đến sữa tắm, kem dưỡng trắng da,…. Bạn có muốn một lần đích thân trải nghiệm ?</p>
            
        </div>

        <p class="subtitle text-right mt-3" style="clear:both" >
            Sao Băng (kinhtevn.com.vn)
        </p>

    </div>
    <div class="col-lg-3 col-md-12">
        <div class="row m-0">
            <div class="col-sm-12 col-md-6 col-lg-12">

                <h3 class="text-green-s px-2">Gắn kết cộng đồng</h3>
                <a href="/home/postDaotaonhansu">
                    <img class="w-100" src="~/Content/Image/blog-l8.png" />
                </a>
                <a href="/home/postDaotaonhansu">
                    <h5 class="text-green-s"><b>ViBotani luôn quan tâm đào tạo phát triển nhân sự</b></h5>
                </a>

                <p class="text-green">Tại ViBotani, công tác đào tạo nhân sự rất được chú trọng. Chúng tôi cho rằng sự thành công của ViBotani Việt Nam gắn liền với công tác đào tạo nhân sự. Do đó, chúng tôi hướng đến thành lập Học viện Sắc đẹp ViBotani (ViBotani Beauty Academy) để không ngừng nâng cao chất lượng đội ngũ nhân viên – cộng tác viên.</p>
                <small class="pb-4">
                    <i class="fa fa-clock"></i> 30, January, 2019
                </small>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-12">

                <h5 class="text-green-s">
                    <b>
                        ViBotani luôn gắn kết sự phát triển với Cộng đồng tại Việt Nam
                    </b>
                </h5>
                <p class="text-green">Gắn kết với cộng đồng cũng là phương châm hoạt động của ViBotani Việt Nam, chúng tôi sẽ không ngừng tham gia các hoạt động phát triển cộng đồng để phần nào chia sẻ với một số hoàn cảnh khó khăn. Chúng tôi cho rằng những hoạt động này không chỉ là sự cảm thông, chia sẻ mà còn là trách nhiệm của chúng tôi trong quá trình phát triển kinh doanh tại Việt Nam.</p>
                <small class="pb-4">
                    <i class="fa fa-clock"></i> 30, January, 2019
                </small>
            </div>
        </div>
    </div>
</div>